{#% extends "BOOccasionBundle::layout.html.twig" %#}
{% extends "BOOccasionBundle::layout.html.twig" %}
{% block title %}
    {{ parent() }} 
    Accueil
{% endblock %}

{% block header %}
    {{ parent() }}

    
{% endblock %}


{% block bodyoccasion %}


    <div class="content">
        
        
        <div class="categories">
                    <div class="container">
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/mobiles">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-mobile-phone"></i></div>
                                                            <h4 class="clrchg">Mobiles</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/electromenagers">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="material-icons">kitchen</i></div>
                                                            <h4 class="clrchg"> Électroménagers</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <!--div class="col-md-2 focus-grid">
                                    <a href="category.html#parentVerticalTab3">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-car"></i></div>
                                                            <h4 class="clrchg">Voitures</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>	
                            <div class="col-md-2 focus-grid">
                                    <a href="category.html#parentVerticalTab4">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-motorcycle"></i></div>
                                                            <h4 class="clrchg">Motos</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>	
                            <div class="col-md-2 focus-grid">
                                    <a href="category.html#parentVerticalTab5">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-wheelchair"></i></div>
                                                            <h4 class="clrchg">Meubles</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div-->
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/cuisine">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-cutlery"></i></div>
                                                            <h4 class="clrchg">Cuisine</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>	
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/loisirs">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-book"></i></div>
                                                            <h4 class="clrchg">Livres, Sports & Loisirs</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>	
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/vetements">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-asterisk"></i></div>
                                                            <h4 class="clrchg">Vêtements </h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>		
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/jadin">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-wrench"></i></div>
                                                            <h4 class="clrchg">Jardinage & Bricolage</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/autres">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-lightbulb-o"></i></div>
                                                            <h4 class="clrchg">Autres</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/meubles">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="material-icons">event_seat</i></div>
                                                            <h4 class="clrchg"> Meubles </h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/beaute">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                            <div class="focus-image"><i class="fa fa-clock-o"></i></div>
                                                            <h4 class="clrchg">Accessoires & Beauté</h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>
                            <div class="col-md-2 focus-grid">
                                    <a href="occasion/category/bebe">
                                            <div class="focus-border">
                                                    <div class="focus-layout">
                                                        <div class="focus-image"><i class="fa fa-child"></i></div>
                                                            <h4 class="clrchg">Bébé & Puériculture </h4>
                                                    </div>
                                            </div>
                                    </a>
                            </div>                            
                            <div class="clearfix"></div>
                    </div>
            </div>
        
        
        <!--
            <div class="trending-ads">
                    <div class="container">
                    <!-- slider --
                    <div class="trend-ads">
                            <h2>LES OFFRES À LA UNE</h2>
                                            <ul id="flexiselDemo3">
                                                    <li>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p1.jpg"/>
                                                                            <span class="price">&#36; 450</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>There are many variations of passages</h5>
                                                                            <span>1 hour ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p2.jpg"/>
                                                                            <span class="price">&#36; 399</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>Lorem Ipsum is simply dummy</h5>
                                                                            <span>3 hour ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p3.jpg"/>
                                                                            <span class="price">&#36; 199</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>It is a long established fact that a reader</h5>
                                                                            <span>8 hour ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p4.jpg"/>
                                                                            <span class="price">&#36; 159</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>passage of Lorem Ipsum you need to be</h5>
                                                                            <span>19 hour ago</span>
                                                                    </div>
                                                            </div>
                                                    </li>
                                                    <li>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p5.jpg"/>
                                                                            <span class="price">&#36; 1599</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>There are many variations of passages</h5>
                                                                            <span>1 hour ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p6.jpg"/>
                                                                            <span class="price">&#36; 1099</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>passage of Lorem Ipsum you need to be</h5>
                                                                            <span>1 day ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p7.jpg"/>
                                                                            <span class="price">&#36; 109</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>It is a long established fact that a reader</h5>
                                                                            <span>9 hour ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p8.jpg"/>
                                                                            <span class="price">&#36; 189</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>Lorem Ipsum is simply dummy</h5>
                                                                            <span>3 hour ago</span>
                                                                    </div>
                                                            </div>
                                                    </li>
                                                    <li>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p9.jpg"/>
                                                                            <span class="price">&#36; 2599</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>Lorem Ipsum is simply dummy</h5>
                                                                            <span>3 hour ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p10.jpg"/>
                                                                            <span class="price">&#36; 3999</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>It is a long established fact that a reader</h5>
                                                                            <span>9 hour ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p11.jpg"/>
                                                                            <span class="price">&#36; 2699</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>passage of Lorem Ipsum you need to be</h5>
                                                                            <span>1 day ago</span>
                                                                    </div>
                                                            </div>
                                                            <div class="col-md-3 biseller-column">
                                                                    <a href="single.html">
                                                                            <img src="images/p12.jpg"/>
                                                                            <span class="price">&#36; 899</span>
                                                                    </a> 
                                                                    <div class="ad-info">
                                                                            <h5>There are many variations of passages</h5>
                                                                            <span>1 hour ago</span>
                                                                    </div>
                                                            </div>
                                                    </li>
                                    </ul>
                            <script type="text/javascript">
                                     $(window).load(function() {
                                            $("#flexiselDemo3").flexisel({
                                                    visibleItems:1,
                                                    animationSpeed: 1000,
                                                    autoPlay: true,
                                                    autoPlaySpeed: 5000,    		
                                                    pauseOnHover: true,
                                                    enableResponsiveBreakpoints: true,
                                                    responsiveBreakpoints: { 
                                                            portrait: { 
                                                                    changePoint:480,
                                                                    visibleItems:1
                                                            }, 
                                                            landscape: { 
                                                                    changePoint:640,
                                                                    visibleItems:1
                                                            },
                                                            tablet: { 
                                                                    changePoint:768,
                                                                    visibleItems:1
                                                            }
                                                    }
                                            });

                                    });
                               </script>
                            </div>   
            </div>
            -- //slider -->				
    </div>


{% endblock %}

