{% extends "::layout.html.twig" %}
{% block title %}
    {{ parent() }} 
    Connexion
{% endblock %}

{% block header %}
    {{ parent() }}

    
{% endblock %}


{% block body %}
    
        <div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-in-form">
						<div class="sign-in-form-top">
							<h1>Connexion</h1>
						</div>
						<div class="signin">
							<div class="signin-rit">
								<span class="checkbox1">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Mot de passe oubliée?</label>
								</span>
								<p><a href="#">Cliquer ici</a> </p>
								<div class="clearfix"> </div>
							</div>
							<form>
							<div class="log-input">
								<div class="log-input-left">
								   <input type="text" class="user" value="nom@serveur.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}"/>
								</div>
								<span class="checkbox2">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
								</span>
								<div class="clearfix"> </div>
							</div>
							<div class="log-input">
								<div class="log-input-left">
								   <input type="password" class="lock" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email address:';}"/>
								</div>
								<span class="checkbox2">
									 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
								</span>
								<div class="clearfix"> </div>
							</div>
							<input type="submit" value="Se connecter">
						</form>	 
						</div>
						<div class="new_people">
							<h2>Pour les nouveaux annonceurs</h2>
							<p>Pour échanger, vendre ou acheter des débarrs, inscrivez vous sur notre site.</p>
							<a href="{{ path('bo_occasion_register') }}">Enregistrer</a>
						</div>
					</div>
				</div>
			</div>

{% endblock %}