{% extends "::layout.html.twig" %}
{% block title %}
    {{ parent() }} 
    Enregistrement
{% endblock %}

{% block header %}
    {{ parent() }}

    
{% endblock %}


{% block body %}
    
    <div id="page-wrapper" class="sign-in-wrapper">
				<div class="graphs">
					<div class="sign-up">
						<h1>Créer un compte</h1>
						<p class="creating">Avez vous des débarrs à échanger, à vendre ou vous voulez acheter un.</p>
						<h2>Information personnel</h2>
						<div class="sign-u">
							<div class="sign-up1">
								<h4>Adresse mail* :</h4>
							</div>
							<div class="sign-up2">
								<form>
									<input type="text" placeholder=" " required=" "/>
								</form>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="sign-u">
							<div class="sign-up1">
								<h4>Mot de passe* :</h4>
							</div>
							<div class="sign-up2">
								<form>
									<input type="password" placeholder=" " required=" "/>
								</form>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="sign-u">
							<div class="sign-up1">
								<h4>Confirmation de mot de passe* :</h4>
							</div>
							<div class="sign-up2">
								<form>
									<input type="password" placeholder=" " required=" "/>
								</form>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="sub_home">
							<div class="sub_home_left">
								<form>
									<input type="submit" value="Create">
								</form>
							</div>
							<div class="sub_home_right">
								<p>Retour vers <a href="{{ path('bo_occasion_home') }}">">Accueil</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>    

{% endblock %}