{% extends "::layout.html.twig" %}

{% block title %}
    {{ parent() }} 
    Ajouter une annonce
{% endblock %}


{% block body %}


    <script type="text/css">
        #filedrag {
          display: none;
          font-weight: 600;
          text-align: center;
          padding: 25px 0;
          margin: 25px 0;
          color: #f3c500;
          border: 2px dashed #f3c500;
          border-radius: 0px;
          -webkit-border-radius: 0px;
          -moz-border-radius: 0px;
          -ms-border-radius: 0px;
          -o-border-radius: 0px;
          cursor: default;
          font-size: 20px;
        }        
    </script>

    
<!-- Submit Ad -->
<div class="submit-ad main-grid-border">
        <div class="container">
                <h2 class="head">Je publie une annonce - objet d'occasion</h2>
                <div class="post-ad-form">
                        <form>
                                <label>Catégorie <span>*</span></label>
                                <select class="">
                                  <option>Sélectionnez une catégorie</option>
                                  <option>Electroménagers</option>
                                  <option>Mobiles </option>
                                  <option>Bébé & Puériculture</option>
                                  <option>Vêtements</option>
                                  <option>Meubles</option>
                                  <option>Accessoires & Beauté</option>
                                  <option>Livres, Sports & Loisirs</option>
                                  <option>Jardin & Bricolage</option>
                                  <option>Autres</option>
                                </select>
                                <div class="clearfix"></div>
                                <label>Titre de votre annonce <span>*</span></label>
                                <input type="text" class="phone" placeholder="">
                                <div class="clearfix"></div>
                                <label>Texte de votre annonce <span>*</span></label>
                                <textarea class="mess" placeholder="Write few lines about your product"></textarea>
                                <div class="clearfix"></div>
                        <div class="upload-ad-photos">
                        <label>Ajoutez vos photos d'annonce :</label>	
                                <div class="photos-upload-view">
                                        <form id="upload" action="index.html" method="POST" enctype="multipart/form-data">

                                        <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

                                        <div>
                                                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" />
                                                <div id="filedrag">or drop files here</div>
                                        </div>

                                        <div id="submitbutton">
                                                <button type="submit">Upload Files</button>
                                        </div>

                                        </form>

                                        <div id="messages">
                                        <p>Status Messages</p>
                                        </div>
                                        </div>
                                <div class="clearfix"></div>
                                        <!--script src="js/filedrag.js"></script-->
                        </div>
                                <div class="personal-details">
                               <label>Nom <span>*</span></label>
                                        <input type="text" class="name" placeholder="">
                                        <div class="clearfix"></div>
                                        <label>Prénom <span>*</span></label>
                                        <input type="text" class="name" placeholder="">
                                        <div class="clearfix"></div>
                                        <div class="clearfix"></div>
                                        <label>Région <span>*</span></label>
                                        <select class="">
                                          <option>Régions</option>
                                            <option >Ariana</option>
                                            <option >Béja</option>
                                            <option >Ben Arous</option>
                                            <option >Bizerte</option>
                                            <option >Gabès</option>
                                            <option >Gafsa</option>
                                            <option >Jendouba</option>
                                            <option >Kairouan</option>
                                            <option >Kasserine</option>
                                            <option >Kébili</option>
                                            <option >Kef</option>
                                            <option >Mahdia</option>
                                            <option >Manouba</option>
                                            <option >Médnine</option>
                                            <option >Monastir</option>
                                            <option >Nabeul</option>
                                            <option >Sfax</option>
                                            <option >Sidi Bouzid</option>
                                            <option >Siliana</option>
                                            <option >Sousse</option>
                                            <option >Tataouine</option>
                                            <option >Tozeur</option>
                                            <option >Tunis</option>                                            
                                            <option >Zaghouane</option>  
                                        </select>
                                        <div class="clearfix"></div>                                  
                                        <label>Téléphone <span>*</span></label>
                                        <input type="text" class="phone" placeholder="">
                                        <div class="clearfix"></div>
                                        <label>E-mail<span>*</span></label>
                                        <input type="text" class="email" placeholder="">
                                        <div class="clearfix"></div>
                                        <p class="post-terms">En cliquant sur  <strong> "Publier mon annonce"</strong>  j'accepte la charte du bon annonceur.</p>
                                <input type="submit" value="Publier mon annonce">					
                                <div class="clearfix"></div>
                                </form>
                                </div>
                </div>
        </div>	
</div>
<!-- // Submit Ad -->   

{% endblock %}
{% block footer %}    
        

{% endblock %}
