<!DOCTYPE html>
<html lang="fr">
  	<head>
	  //...
	  
	  {% block stylesheets %}
	  {% stylesheets filter='cssrewrite'
	  'css/bootstrap.css'
	  'css/font-awesome.css'
	  'bundles/app/css/style.css' %}
	  <link href="{{ asset_url }}" rel="stylesheet">
	  {% endstylesheets %}
	  {% endblock %}
  	</head>
  	<body>
	  //...
	  
	  {% block javascripts %}
	  {% javascripts
	  	'js/jquery.min.js'
	  	'js/jquery-ui.min.js'
	  	'js/bootstrap.js'
	  	'@AppBundle/Resources/public/js/script.js' %}
	  <script src="{{ asset_url }}"></script>
	  {% endjavascripts %}
	  {% endblock %}
  	</body>
</html>